

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.App {
  background-color: hsl(144, 17%, 89%);
  color: rgb(8, 8, 8);
  height: 100%;
  width: 200vh;
  display: block;
  align-items: center;
  margin: 100px;
  padding: 50px;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
  border: 3px solid black;
  padding: 5px;
}

.navbar h1{
  font-size: 5rem;
  font-family: sans-serif;
}

.main {
  border: 5px solid black;
  height: 100vh;
  margin: 50px;
  justify-content: center;
  display: flex;
  align-items: flex-start;
}
.main-button {
  background-color: #f5f4f7;
  color: rgb(8, 8, 8);
  display: flex;
  margin: 50px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 5rem;
  border: 5px solid black;
}

.main-button:hover {
  background-color: #45a049;
}
.footer.img {
  padding: 20px;
  margin: 20px;
}






